body{
    font-family: Arial;
    display: flex;
    justify-content: center;
}


label{
    display: flex;
    margin-bottom: 4px;
}

input{
    margin-bottom: 8px;
    width: 102%;
    height:  35px;
    border: none;
    background: #e1e8f4;
    border-radius: 6px;
}

.photo{
    background: none;
}


#main-container{
    display: block;
    justify-content: center;
    width: 40%;

    
}

textarea{
    width: 102%;
    border-radius: 12px;
    background: #e1e8f4;
    height: 80px;
}

.summary-text {
    font-size: 14px;
    font-family: Open Sans;
    line-height: 1.7;
    text-align: justify;
    word-spacing: 0.7;
    letter-spacing: 0.5;
  }
  

  .objective{
    font-size: 14px;
    font-family: Open Sans;
    line-height: 1.7;
    text-align: justify;
    word-spacing: 0.7;
    letter-spacing: 0.5;
  }
  

form{
    border: 2px solid gray;
    height: fit-content;
    padding: 30px;
}

h3{
    text-decoration: underline;
}

button{
    background: rgb(58, 195, 58);
    padding: 12px;
    float: inline-end;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 9%;
}
button:hover{
    background: #6fcb86;
}

.generated-container{
    background: #9b6b6b;
}




.main-output{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #0D1282;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  }
  

.left-sec{
    background: #0D1282;
    color: white;
    text-align: center;
    width: 40%;
    padding: 10px;
}

.right-sec{
    background: #EEEDED;
    padding: 10px;
    width: 55%;
}

img{
    border-radius: 50%;
    border: 2px solid white;
    margin-top: 14px;
}

.right-inner-content{
    margin-left: 12px;
}

.copyright-text{
    /* color: green; */
    opacity: 20%;
    display: flex;
    justify-content: center;
}

.ts-headings{
    text-decoration: underline;
    text-decoration-color: #0D1282;
    background: #0D1282;
    padding: 10px;
    box-shadow: 0 0 10px black;
    color: white;
    /* border-radius: 5px; */
    /* opacity: 90%;  */
}

.Career-Objective{
    /* background: #000; */
    padding: 12px;
    box-shadow: 0 0 10px black
}

.title{
    padding: 12px;
    box-shadow: 0 0 10px black;
}

.Professional-Summary{
    padding: 12px;
    box-shadow: 0 0 10px black;
}

#download-pdf{
    margin-right: 10%;
}



#generated-container{
    margin-top: 10%;
}



@media only screen and (max-width: 420px) {
 
    #main-container{
        display: block;
        justify-content: center;
        width: 90%;
        
        
    }


    .right-sec{
        width: 100%;
        border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    }
    .main-output{
        display: block;
        border: none;
        margin-right: 20px;
        padding: 0%;
        box-shadow: none;
      }

    .photo{
        height: 100px;
        width: 100px;
    }
    

    button{
        margin-top: 19%;
        margin-right: 21%;
    }

.left-sec{
    margin-right: 10px;
    width: 100%;
    margin-left: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

    
#generated-container{
    margin-top: 20%;
}
}


@media print {
   
    
    .left-sec {
      background-color: #0D1282;
    }
  }
  
  

